@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap');

*{
  box-sizing: border-box;
}

body{
  margin: 0;
  background-color: #3450A1;
  font-family: 'Roboto Mono', monospace;
}